.bg-custom {
  background-image: url('../src/assets/images/background-mobile.png');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

.bg-custom-2 {
  background-image: url('../src/assets/images/background-tablet.png');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

.bg-custom-3 {
  background-image: url('../src/assets/images/background-desktop.png');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}